body {
  font-family: Arial, sans-serif; 
  margin: 0; 
  padding: 0; 
  background-color: #f0f0f0; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  min-height: 100vh; 
  background-image: url(fdo_juego.jpeg); 
  background-size: cover; 
}

.contenedor {
  text-align: center; 
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}


h1 {
  margin-bottom: 10px; 
}


input {
  padding: 5px; 
  margin-bottom: 10px; 
}


.opciones {
  display: flex; 
  justify-content: center; 
  margin-top: 20px;
}


.imag-de-opciones {
  width: 100px; 
  height: 100px; 
  cursor: pointer; 
  transition: transform 0.2s ease-in-out; 
  margin: 0 10px; 
}


.imag-de-opciones:hover {
  transform: scale(1.1); 
}


.resultadosJuego {
  margin-top: 20px; 
}


.botonJugarDeNuevo {
  padding: 10px 20px; 
  margin-top: 20px; 
  font-size: 16px; 
  background-color: #007bff; 
  border: none; 
  color: white; 
  cursor: pointer; 
  border-radius: 5px; 
  display: none; 
}


.linkDeInstrucciones {
  display: block; 
  margin-top: 10px; 
  text-decoration: none; 
  color: #007bff; 
}


#ResaltaGanador {
  margin-top: 20px; 
  font-size: 50px; 
  font-weight: bold; 
  color: #007bff;
  
}







